.center {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 250px;
  height: 40px;
  background-color: rgba(255, 255, 255);

  border: 2px solid rgb(0, 160, 253);
  border-radius: 20px;
  display: block;
  margin-top: 20px;
  font-size: 23px;
  padding: 10px 20px;
}

.input:focus {
  outline: 0;
}

.input::placeholder {
  color: #000;
  font-size: 22px;
}

.btn {
  background-color: rgb(10, 165, 255);
  border: 0;
  font-size: 20px;
  margin-top: 15px;
  padding: 10px 30px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

.form {
  padding: 30px;
  background-color: rgba(196, 220, 235, 0.5);
  border-radius: 30px;
}

.form .mainform {
  padding: 30px;
  background-color: rgba(196, 220, 235, 0.5);
  border-radius: 0px;
}
.main_form {
  padding: 10px;
  /*background-color: rgba(196, 220, 235, 0.5);*/
  border-radius: 10px;
  max-width: fit-content;
}

.btn_div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  margin: 0;
  color: rgb(10, 165, 255);
}
